################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OAuth/.vs/OAuth
/OAuth/GraphSDKWithTokenCache/bin/Debug/netcoreapp3.1
/OAuth/GraphSDKWithTokenCache/obj
